@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --border-radius-lg: 16px;
}

body {
  @apply bg-slate-50 text-slate-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-slate-900;
}
